@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

:root{
  --primary-color: #1A936F;
  --background-color:#F5F5F5;
  --text-color: #1B1B1B;
  --text-font: "Roboto", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
  scroll-behavior: smooth;
}
body,html{
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--text-font);
}

a{
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 2rem;
  transition: all ease .5s;
}

a:hover{
  transform: scale(1.1)
}

.home, .noway{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#33894a 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}